@model HCI.Models.SearchGroupQueryModel

@{
    ViewBag.Title = "Advanced Search Group";
}

<h2>Advanced Search Group</h2>


<div style="height:30px"></div>
@using (Html.BeginForm("SearchGroupResult", "Group", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @role = "form", @id="advancedSearchedForm" }))
{
    <input id="IsAdvancedSearch" name="IsAdvancedSearch" type="hidden" value="true" />
    <div class="form-group" id="conditionGroup-0">
        <div class="col-md-2">
        </div>
        <div class="col-md-1" style="max-width: 80px;padding-left:0px;padding-right: 0px;">
            <input type="hidden" class="form-control" id="CombineType" name="QueryList[0].CombineType" value="And"/>
        </div>
        <div class="col-md-2" style="max-width: 170px;">
            <select class="form-control" id="SearchType" name="QueryList[0].SearchType" style="min-width:100%">
                <option value="Group Name" selected>Group Name</option>
                <option value="Study Field">Study Field</option>
                <option value="Course ID">Course ID</option>
                <option value="Description">Description</option>
                <option value="Group Owner">Group Owner</option>
            </select>
        </div>
        <div class="col-md-2" style="max-width: 135px; padding-left:0px; padding-right:0px">
            <select class="form-control" id="SearchVerbType" name="QueryList[0].SearchVerbType" style="min-width:100%">
                <option value="Equals" selected>Equals</option>
                <option value="Not Equals">Not Equals</option>
                <option value="Contains">Contains</option>
                <option value="Not Contains">Not Contains</option>
            </select>
        </div>
        <div class="col-md-4">
            <input class="form-control" id="SearchValue" name="QueryList[0].SearchValue" style="min-width:100%" type="text" value=""/>
        </div>
    </div>

    <div class="form-group" id="conditionGroup-1">
        <div class="col-md-2">
        </div>
        <div class="col-md-1" style="max-width: 80px;padding-left:0px;padding-right: 0px;">
            <select class="form-control" id="CombineType" name="QueryList[1].CombineType" style="min-width:100%">
                <option value="And" selected>And</option>
                <option value="Or">Or</option>
            </select>
        </div>
        <div class="col-md-2" style="max-width: 170px;">
            <select class="form-control" id="SearchType" name="QueryList[1].SearchType" style="min-width:100%">
                <option value="Group Name">Group Name</option>
                <option value="Study Field" selected>Study Field</option>
                <option value="Course ID">Course ID</option>
                <option value="Description">Description</option>
                <option value="Group Owner">Group Owner</option>
            </select>
        </div>
        <div class="col-md-2" style="max-width: 135px; padding-left:0px; padding-right:0px">
            <select class="form-control" id="SearchVerbType" name="QueryList[1].SearchVerbType" style="min-width:100%">
                <option value="Equals" selected>Equals</option>
                <option value="Not Equals">Not Equals</option>
                <option value="Contains">Contains</option>
                <option value="Not Contains">Not Contains</option>
            </select>
        </div>
        <div class="col-md-4">
            <input class="form-control" id="SearchValue" name="QueryList[1].SearchValue" style="min-width:100%" type="text" value="" />
        </div>
        <div class="col-md-2" style="padding-top: 7px;">
            <a href="javascript:void(0)" id="addLink">Add another condition</a>
            <a href="javascript:void(0)" id="removeLink" hidden>Remove</a>
        </div>
    </div>
    
    <div class="form-group" id="conditionGroup-index" hidden>
        <div class="col-md-2">
        </div>
        <div class="col-md-1" style="max-width: 80px;padding-left:0px;padding-right: 0px;">
            <select class="form-control" id="CombineType" name="QueryList[index].CombineType" style="min-width:100%">
                <option value="And" selected>And</option>
                <option value="Or">Or</option>
            </select>
        </div>
        <div class="col-md-2" style="max-width: 170px;">
            <select class="form-control" id="SearchType" name="QueryList[index].SearchType" style="min-width:100%">
                <option value="Group Name" selected>Group Name</option>
                <option value="Study Field">Study Field</option>
                <option value="Course ID">Course ID</option>
                <option value="Description">Description</option>
                <option value="Group Owner">Group Owner</option>
            </select>
        </div>
        <div class="col-md-2" style="max-width: 135px; padding-left:0px; padding-right:0px">
            <select class="form-control" id="SearchVerbType" name="QueryList[index].SearchVerbType" style="min-width:100%">
                <option value="Equals" selected>Equals</option>
                <option value="Not Equals">Not Equals</option>
                <option value="Contains">Contains</option>
                <option value="Not Contains">Not Contains</option>
            </select>
        </div>
        <div class="col-md-4">
            <input class="form-control" id="SearchValue" name="QueryList[index].SearchValue" style="min-width:100%" type="text" value="" />
        </div>
        <div class="col-md-2" style="padding-top: 7px;">
            <a href="javascript:void(0)" id="addLink">Add another condition</a>
            <a href="javascript:void(0)" id="removeLink" hidden>Remove</a>
        </div>
    </div>

    <div class="col-md-12" style="margin-left: 40%;">
        <button type="submit" class="btn btn-default" style="min-width: 200px;">
            Search
        </button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/advanced-search")
}

