@model HCI.Models.CreateGroupResultModel
@{
    ViewBag.Title = "CreateGroupResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateGroupResult</h2>

@if (Model.Success)
{
    <div class="alert alert-success" role="alert">
        You succeeded in creating group [@Model.GroupName].
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Oops, something went wrong. Please try it again.
    </div>
}
