@model HCI.Models.UserGroupDetailModel

<style>
    .list-item-min-height {
        height: 50px;
    }

    .edit-input {
        display: none;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Event Information</h1>
    </div>
    <div class="panel-body">
        @foreach (var EventModel in Model.EventModel.Events.OrderBy(x => x.Start).Take(7))
        {
            
            <div hidden class="row" id="eventID">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Title:
                            </div>
                            <div class="col-md-8">
                                <label>@EventModel.Title</label>
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Time:
                            </div>
                            <div class="col-md-8">
                                <label>@EventModel.Start&nbsp;~&nbsp;@EventModel.End</label>
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Location:
                            </div>
                            <div class="col-md-8">
                                <label>@EventModel.LocationAddress</label>
                            </div>
                        </li>
                        <li class="list-group-item list-item-min-height">
                            <div class="col-md-4">
                                Note:
                            </div>
                            <div class="col-md-8">
                                <label>@EventModel.Description</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

