@model HCI.Models.ScheduleMeetingResultModel

@{
    ViewBag.Title = "Schedule Meeting Result";
}

<h2>Schedule Meeting Result</h2>

@if (Model.Success)
{
    <div class="alert alert-success" role="alert">
        You succeeded in scheduling the meeting [@Model.Title] for the group [@Model.GroupName].
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Oops, something went wrong. Please try it again.
    </div>
}
