@model HCI.Models.Database.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserUpateInfo</title>
</head>
<body>
    <h1>Update Personal Information</h1>
    <div> 
        <p></p>
    </div>
</body>
</html>
